# Create one with no scope selected on https://github.com/settings/tokens/new
# This token is used for fetching the repository releases.
GITHUB_TOKEN=
ALGOLIA_APP_KEY=
ALGOLIA_APP_ID=
ALGOLIA_INDEX_NAME=
